@use "../variable/" as *;
@use "../function/mixin" as *;


//這個是navbar 的樣式
%nav-text-style {
    color: $primary; // 文字顏色設為深紅色
    font-family: "LXGW WenKai Mono TC"; // 字型使用指定的字型
    font-size: 18px; // 字體大小 18px
    font-style: normal; // 設定為正常字體
    font-weight: 400; // 設定字重為 400，為常規字重
    line-height: 150%; // 行高 150% (27px)
    letter-spacing: -0.396px; // 文字間距微調，讓字母更緊湊
    text-align: center; // 文字置中
    text-decoration: none; // 文字無下劃線
    display: block; // 讓 a 標籤像區塊元素一樣，覆蓋整個 frame
  }
  
  // Frame 框樣式（包住 a）
%frame-style {
    padding: 10px 16px; // 內邊距，上下 10px，左右 16px
    border-radius: 8px; // 設定圓角為 8px
    transition: background-color 0.3s; // 添加背景顏色過渡效果，0.3秒平滑變化
    cursor: pointer; // 當鼠標懸停時顯示指針形狀
}

//資中所有人都能套用
%menu-item-style {
    display: flex; // 使用 flexbox 排版
    align-items: center; // 讓內部元素垂直置中
}

//垂直志中 所有人用
%menu-item-style-v {
    display: flex;             // 使用 flex 佈局
    flex-direction: column;    // 讓元素垂直排列
    justify-content: center; 
    align-items: center;        // 垂直置中
  
}

// ▍ul.menu 整體樣式
%menu-wrapper {
    display: flex; // 使用 flexbox 排版
    gap: 32px; // 每個項目之間的間隙為 32px
    padding: 0 30px; // 內邊距左右各 30px
    align-items: center; // 讓 menu 內的項目垂直置中
    list-style: none; // 移除 ul 預設的圓點
    margin: 0; // 移除預設的外邊距
  }
  
  // ▍nav-bar 外層樣式（控制寬度）
  %nav-bar-wrapper {
    width: 100%; // 寬度為 100%，填滿容器
    max-width: 1200px; // 設定最大寬度為 1200px
    display: flex; // 使用 flexbox 排版
    justify-content: center; // 讓內容水平置中
  }
  
  // ▍最外層 header：置中
  %nav-outer-wrapper {
    display: flex; // 使用 flexbox 排版
    justify-content: center; // 水平置中整個 nav
    align-items: center; // 垂直置中整個 nav
    height: auto; // 設定高度為 100px
    background-color: #fff; // 背景顏色為白色
  }

  //這個是logo的樣式
 //logo-text-style：Debut Reve 文字樣式
%logo-text-style {
    color: #792E2E;                        // 深紅色文字
    text-align: center;                   // 文字置中
    font-family: "Akaya Kanadaka", cursive; // 使用特殊字型（LOGO 字體）
    font-size: 24px;                      // 字體大小
    font-style: normal;                   // 標準字型樣式
    font-weight: 400;                     // 字重 400
    line-height: 150%;                    // 行高 150%（36px）
    letter-spacing: -0.528px;             // 字距略收
    // width: 185px;              // 寬度 185px
    height: 43px;              // 高度 43px
    flex-shrink: 0;            // 不允許縮小（維持固定尺寸）
  }

// 圖片輪播區
