@use "../variable" as *;
// 混用mixin (需調用)
// RWD樣式不同時使用mixin

@mixin media-sm { // 新增：手機版斷點 Mixin
    @media (max-width: 767px) { // 通常用 767px 作為手機的最大寬度
        @content;
    }
}

@mixin media-md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width: 1024px) {
        @content;
    }
}


@mixin title-l {
    font-size: map-get($font-size, xxl);
    font-weight: $bolder;
}

@mixin title-m {
    font-size: map-get($font-size, l);
    font-weight: $bold;
}

@mixin title-s {
    font-size: map-get($font-size, m);
    font-weight: $bold;
}

@mixin bordered ($color:$color-deep, $width:1px) {
    border: $width solid $color;
}

@mixin bg ( $img , $attachment:scroll, $color: $color-lesser3, $repeat:no-repeat) {
    background: $img $attachment $color $repeat center;
}

// 玻璃化效果
@mixin glassmorphism {
    background-color: $alpha-w20;
    backdrop-filter: blur(25px);
    //filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5)); //套用在整個所有元素上
    box-shadow: 2px 2px 2px $alpha-b15,//套用元素框外顯示設定範圍
                inset 2px 2px 5px $alpha-w30; //套用元素框內顯示設定範圍
    border: 2px solid $alpha-w50;
    border-radius: $radius-ex;
}

/* 響應式設計調整 是最後關於我們的樣式 */
@media (max-width: 1200px) {
  .letter1 {
    padding-right: 50px;
    padding-left: 500px;
  }
}

@media (max-width: 992px) {
  .letter1 {
    padding-left: 400px;
  }
  .about1 {
    width: 90%;
  }
}

// 直接寫入的 Media Queries (媒體查詢)
// 在 mixin 定義的下方，你有一系列直接寫入的 @media 規則，它們針對特定的元素 (例如 .letter1, .about1, .about1-text, .about1-text2) 進行響應式調整。
@media (max-width: 768px) {
  .letter1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  .about1 {
    width: 95%;
    padding: 20px;
  }
  .about1-text {
    font-size: 24px;
  }
  .about1-text2 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .letter1 {
    padding-left: 20px;
  }
  .about1 {
    width: 100%;
  }
}
