// 間距
$space-s:  10px;
$space-m:  20px;

$space-x-a: 0 auto;   // 让文字之中
$space-x-s: 0 5px;
$space-x-m: 0 10px;
$space-x-l: 0 15px;

$space-y-s: 5px 0;
$space-y-m: 10px 0;
$space-y-l: 20px 0;
$space-y-11: 45px 0 0 0 ;
$space-xyxy: 20px 0 50px 0;

$space-y-m-vh: 10vh 0;

$space-xy-s: 5px 10px;
$space-xy-m: 10px 20px;
$space-xy-l: 61px ;
$space-xy-xl: 56px 165px;

$space-title-s: 15px 0 5px; 