// 顏色變數
$primary: #792e2e; // 網站主色調 (深紅色)
$secondary-bg: #e6cccc; // 次要背景色 (淺粉色，用於 Footer 等)
$text-light-grey: #4a5568; // 描述文字的灰黑色 
$text-dark-grey: #1E1E1E; // SVG 填充色，深灰
$white-color: #ffffff; // 白色

$grey-border: #e2e8f0; // <-- 新增或確認這行！你可以選擇一個你喜歡的灰色作為邊框色
$category-bg: #edf2f7; // 範例值，請根據你的設計調整
$category-text: #4a5568; // 範例值，請根據你的設計調整


// color var
$color-black: #333;
$color-deep: #444;
$color-deep: #666 !default;
$color-grey: #999;
$color-light: #f1f1f1;
$color-bg1: #F2EDF0;
$color-bg2: #E6ECE5;
$color-bg3: #ECF0F4;
// $color-light: #ffffff;

$color-lesser1: #f3e4e4;
$color-lesser2: #e3caca;
$color-lesser3: #c29e9f;
$color-lesser4: #8f6b6d;

// alpha 
$alpha: transparent;

$alpha-w20: rgba(255,255,255, .2);
$alpha-w30: rgba(255,255,255, .3);
$alpha-w40: rgba(255,255,255, .4);
$alpha-w50: rgba(255,255,255, .5);

$alpha-b15: rgba(0,0,0,.15);
$alpha-b30: rgba(0,0,0,.3);
$alpha-b60: rgba(0,0,0,.60);

$alpha-p60:rgba(194, 158, 159, 0.6);